* {
  margin: 0%;
  color: black;
}

input:focus {
  outline: none;
}

body {
  background-color: #ffffff;
  /* overflow: hidden; */
}



.calander {
  display: flex;
  flex-direction: column;
  /* background-color: aqua; */
  padding: 0;
  margin: 75px 400px 0px 500px;
 }

 .toggle {
   text-align: center;
 }

 .Add {
   margin: 50px 0px 0px 0px;
 }

 .calander .meeting {
   display: flex;
   flex-direction: column;
   padding: 0px 100px 0px 100px;
   margin: 0px 0px 0px 0px;

 }
.calander .meeting .name {
  padding: 25px 35px 25px 25px;
}

.main {
  display: flex;
  min-height: 100vh;
  align-items: stretch;
}




.main  form {
  display: flex;
  flex-direction: column;
  margin: 100px 0px 0 500px;
  padding-top: 100px;
  padding-bottom: 70px;
  padding-left: 25px;
  padding-right: 25px;
  background-color: #BEB9B9;
  border-radius: 50px;
}

.main form button {
  margin: 0 80px;
  padding: 5px;
  border-radius: 5px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  border: none;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: white;
  transition: 0.4s;
  cursor: pointer;
  outline: none;

}

.main form button:hover,
 div form button:hover {
  background-color: #e7e7e7;
}

.main form input {
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 10px;
  margin-bottom: 15px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border: none;
 
}
.modalInput {
  text-align: center;
  margin-bottom: 5px;
  margin-right: 5px;
}



.main form label,
 div form label {
  text-align: center;
  padding-bottom: 25px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 25px;
  font-weight: lighter;
}

.error1,
.error2,
.error3 {
  text-align: center;
  color: red;
  padding-bottom: 5px;
}

#error {
  text-align: center;
  color: red;
  padding-bottom: 5px;
}




